<label for="">Full Name</label>
{{one-way-input name update=(action (mut name)) class="input-text" disabled=sent required=true}}

<label for="">Email</label>
{{one-way-input email update=(action (mut email)) class="input-text" type="email" disabled=sent required=true}}

<label for="">Message</label>
{{one-way-textarea message update=(action (mut message)) class="input-text" rows=6 disabled=sent required=true}}

{{#if error}}
  <p class="error-message">
    An error occurred, please try again.
  </p>
{{/if}}

<button type="submit" name="button" class="button {{if loading 'loading'}}" disabled={{sent}}>
  {{if sent "Thanks, we'll get back to you soon!" "Say hi!"}}
</button>
