<header class="row">
    <div class="col-lg-4">
    <div class="avatar">
        <img src="{{mentor.image}}" alt="{{mentor.name}}" />
    </div>
    </div>
    <div class="col-lg-8">
    <h3>{{mentor.name}}</h3>
    {{#if mentor.title}}
        <p>
            {{mentor.title}}
        </p>
    {{/if}}
    <p>
        {{#each mentor.frameworks as |framework|}}
        <span class="framework">{{framework}}</span>
        {{/each}}
    </p>
    <div class="social">
        {{#if mentor.twitter}}
         <a href="https://twitter.com/{{mentor.twitter}}" target="_blank">@{{mentor.twitter}}</a><br>
        {{/if}}
        {{#if mentor.email}}
         <a href="mailto:{{mentor.email}}">{{mentor.email}}</a><br>
        {{/if}}
    </div>
    </div>
</header>

{{#if mentor.bio}}
    <p class="mentor-bio">
        {{mentor.bio}}
    </p>
{{/if}}