{{#if isFuture}}
  {{#if post.thumbnail}}
    <img src="{{post.thumbnail}}" alt="{{post.title}}" /><br>
  {{/if}}
{{else}}
  <a href="{{post.video}}" target="_blank">
    {{#if post.thumbnail}}
      <img src="{{post.thumbnail}}" alt="{{post.title}}" /><br>
    {{else}}
      {{lazy-thumbnail url=post.video}}<br>
    {{/if}}
  </a>
{{/if}}
<h4>
  <a href="{{post.video}}" target="_blank">{{post.title}}</a>
</h4>

{{#if actionLabel}}
 {{moment-calendar post.date}}<br>
 <a href="{{post.video}}" target="_blank" class="button">{{actionLabel}}</a>
{{/if}}
