<section class="container landing-section">
    <h2 class="large-header">
      {{model.title}}
      <div class="sub-title">
        {{model.subTitle}}
      </div>
    </h2>
</section>

<section class="container landing-section">
  <div class="row">
    <div class="col-md-5 landing-body">
      {{{model.body}}}
    </div>
    <div class="col-md-5 push-md-1 landing-contact">
      <div class="contact-form">
        <p>
          {{model.contactLegend}}
        </p>
        {{contact-form 
          page=model.id 
          buttonText="Submit"
          confirmationText="We received your submission"
          ad=ad
        }}
      </div>
    </div>
  </div>
</section>

<section class="container landing-section clients-section">
  <h3>
    {{model.clientsLegend}}
  </h3>
  <ul class="logo-list row">
    {{#each pageClients as |client|}}
      <li class="col-md-4">
        <img src="{{client.image}}" alt="{{client.name}}">
        <p>{{client.name}}</p>
      </li>
    {{/each}}
  </ul>
</section>

{{#if (and model.howItWorks model.whatToExpect)}}
  <section class="container landing-section">
    <div class="row">
      {{#if model.howItWorks}}
        <div class="col-md-5">
          <h3>How does it work?</h3>
          <ol>
            {{#each model.howItWorks as |step|}}
              <li>
                {{step}}
              </li>
            {{/each}}
          </ol>
        </div>
      {{/if}}
      {{#if model.whatToExpect}}
        <div class="col-md-5 push-md-1">
          <h3>What can you expect?</h3>
          <ol>
            {{#each model.whatToExpect as |step|}}
              <li>
                {{step}}
              </li>
            {{/each}}
          </ol>
        </div>
      {{/if}}
    </div>
  </section>
{{/if}}

<section class="container landing-section">
  <h3>Our technology leaders will guide your team</h3>
  <ul class="row people-list">
    {{#each pageMentors as |mentor|}}
      {{mentor-card mentor=mentor tagName="li" class="col-md-6"}}
    {{/each}}
  </ul>
</section>
