<section class="container large-header landing-section">
  <div class="row">
    <div class="col-md-8">
      Modernize Your Technology Stack: Review
    </div>
  </div>
</section>

<section class="container landing-section">
  <div class="row">
    <div class="col-md-5">
      <h3>Facebook, Gmail and Slack are changing what users expect from the web.</h3>
      <p>
        Businesses expect to see more data, faster, available anytime and anywhere.
      </p>
      <p>
        Choosing the right tools require understanding of modern technical resources.
      </p>
      <p>
        We help companies select the right tools to match their teams, business goals and existing technology stack.
      </p>
    </div>
    <div class="col-md-5 push-md-1 landing-contact">
      <div class="contact-form">
        <strong>Let us guide your through your next upgrade</strong>
        {{contact-form}}
      </div>
    </div>
  </div>
</section>

<section class="container landing-section clients-section">
  <h3>We’ve upgraded many corporate apps</h3>
  <ul class="logo-list row">
    {{#each model.clients as |client|}}
      <li class="col-md-4">
        <img src="{{client.image}}" alt="{{client.name}}">
        <p>{{client.name}}</p>
      </li>
    {{/each}}
  </ul>
</section>

<section class="container landing-section">
  <div class="row">
    <div class="col-md-5">
      <h3>How does it work?</h3>
      <ol>
        <li>
          We collect a profile of applications maintained by your organization.
        </li>
        <li>
          Interview developers to understand team background and experiences.
        </li>
        <li>
          Interview your product managers understand where users would like to see improvements.
        </li>
        <li>
          Create a report that describes our findings.
        </li>
        <li>
          Make recommendations on what tools are right for your organization.
        </li>
        <li>
          Our report will include information about obstacles that you might encounter, training that will be necessary and recommendations on how to easily adopt new tools.
        </li>
      </ol>
    </div>
    <div class="col-md-5 push-md-1">
      <h3>What can you expect?</h3>
      <ol>
        <li>
          <strong>Expert resources</strong> - our team consists of experts in widely adopted open source technologies. 
        </li>
        <li>
          <strong>Unbiased recommendations</strong> - we make recommendations to match your needs without framework bias.
        </li>
        <li>
          <strong>Easy adoption</strong> - we will recommend tools and learning strategies easiest for your team to adopt.
        </li>
      </ol>
    </div>
  </div>
</section>

<section class="container landing-section">
  <h3>Our community leaders will guide your team</h3>
  <ul class="row people-list">
    {{#each model.mentors as |mentor|}}
      <li class="col-md-5">
        <div class="avatar">
          <img src="{{mentor.image}}" alt="{{mentor.name}}" />
        </div>
        <h3>{{mentor.name}}</h3>
        <p>
           {{#each mentor.frameworks as |framework|}}
            <span class="framework">{{framework}}</span>
           {{/each}}
        </p>
        <div class="social">
          <a href="https://twitter.com/{{mentor.twitter}}" target="_blank">@{{mentor.twitter}}</a><br>
        </div>
      </li>
    {{/each}}
  </ul>
</section>
