<section class="container large-header landing-section">
  <div class="row">
    <div class="col-md-8">
      Upgrading Your Application? Eliminate Risk.
    </div>
  </div>
</section>

<section class="container landing-section">
  <div class="row">
    <div class="col-md-5">
      <h3>Find a technical leader to guide you through your upgrade</h3>
      <p>Upgrading large production applications can be prohibitive and difficult. </p>
      <p>The risk of regression can outweigh the benefit of upgrading.</p>
      <p>Modern web applications written with frameworks like Angular, Ember, React, and Vue on the latest version provide many benefits such as:</p>
      <p>
        <ul>
          <li>- Provide performance improvements</li>
          <li>- Improved user experiences</li>
          <li>- Leverage millions of dollars of free open source development</li>
        </ul> 
      </p>
      <p>We help upgrade applications by designing strategies to match business and technical needs.</p>
    </div>
    <div class="col-md-5 push-md-1 landing-contact">
      <div class="contact-form">
        <strong>Let Us Guide You Through Your Next Upgrade.</strong>
        {{contact-form}}
      </div>
    </div>
  </div>
</section>

<section class="container landing-section clients-section">
  <h3>We’ve helped upgrade many corporate apps</h3>
  <ul class="logo-list row">
    {{#each model.clients as |client|}}
      <li class="col-md-4">
        <img src="{{client.image}}" alt="{{client.name}}">
        <p>{{client.name}}</p>
      </li>
    {{/each}}
  </ul>
</section>

<section class="container landing-section">
  <div class="row">
    <div class="col-md-5">
      <h3>How does it work?</h3>
      <ol>
        <li>
          Assess your application stack.
        </li>
        <li>
          Assign a technical leader who’s an expert at upgrading apps in your framework.
        </li>
        <li>
          Determine changes needed to your app to prepare for upgrade.
        </li>
        <li>
          Train team on how to undertake next steps in the upgrade process.
        </li>
        <li>
          Availability via teleconference or onsite to support team through upgrade.
        </li>
        <li>
          Team training on how to perform upgrade.
        </li>
      </ol>
    </div>
    <div class="col-md-5 push-md-1">
      <h3>What can you expect?</h3>
      <ol>
        <li>
          Team can continue to build features during upgrade process.
        </li>
        <li>
          Increase test coverage at every stage to increase confidence before upgrade.
        </li>
        <li>
          Upgrade will be successful on first attempt.
        </li>
        <li>
          Team will acquire skills necessary to perform future upgrades.
        </li>
      </ol>
    </div>
  </div>
</section>

<section class="container landing-section">
  <h3>Our technology leaders will guide your team</h3>
  <ul class="row people-list">
    {{#each model.mentors as |mentor|}}
      <li class="col-md-5">
        <div class="avatar">
          <img src="{{mentor.image}}" alt="{{mentor.name}}" />
        </div>
        <h3>{{mentor.name}}</h3>
        <p>
           {{#each mentor.frameworks as |framework|}}
            <span class="framework">{{framework}}</span>
           {{/each}}
        </p>
        <div class="social">
          <a href="https://twitter.com/{{mentor.twitter}}" target="_blank">@{{mentor.twitter}}</a><br>
        </div>
      </li>
    {{/each}}
  </ul>
</section>
