<section class="container large-header landing-section">
  <div class="row">
    <div class="col-md-8">
      Remove risk from large upgrades by eliminating trial and error.
    </div>
  </div>
</section>

<section class="container landing-section">
  <div class="row">
    <div class="col-md-5">
      <p>Upgrading large production applications is often prohibitively difficult. </p>
      <p>For many traditional web applications the risk of regressions outweighs the benefit of upgrading.</p>
      <p>Modern web applications written with frameworks like Angular, Ember, React, and Vue on the latest version bring performance improvements, improved user experience and allow businesses to leverage millions of dollars of free development by the open source community.</p>
      <p>We help companies upgrade their applications by designing strategies to match the application, the team and business priorities.</p>
    </div>
    <div class="col-md-5 push-md-1 landing-contact">
      <div class="contact-form">
        <strong>Let us guide your through your next upgrade</strong>
        {{contact-form}}
      </div>
    </div>
  </div>
</section>

<section class="container landing-section clients-section">
  <h3>We’ve helped upgrading corporate apps from</h3>
  <ul class="logo-list row">
    {{#each model.clients as |client|}}
      <li class="col-md-4">
        <img src="{{client.image}}" alt="{{client.name}}">
        <p>{{client.name}}</p>
      </li>
    {{/each}}
  </ul>
</section>

<section class="container landing-section">
  <div class="row">
    <div class="col-md-5">
      <h3>How does it work</h3>
      <ol>
        <li>
          Assess your application stack.
        </li>
        <li>
          Assign a technical leader who’s an expert at upgrading apps that match your framework.
        </li>
        <li>
          Determine what changes need to be made to prepare your app for upgrade.
        </li>
        <li>
          Train your team on how to undertake the next in the upgrade process.
        </li>
        <li>
          We are available via teleconference or onsite to support your team as they apply necessary changes.
        </li>
        <li>
          Once upgrade obstacles are removed, we train your team on how to perform the upgrade.
        </li>
      </ol>
    </div>
    <div class="col-md-5 push-md-1">
      <h3>What can you expect?</h3>
      <ol>
        <li>
          Team can continue to build features during the upgrade.
        </li>
        <li>
          Project will increase test coverage at every stage to increase confidence before the upgrade.
        </li>
        <li>
          Upgrade will be successful on the first attempt.
        </li>
        <li>
          Team will learn skills necessary to perform future upgrades.
        </li>
      </ol>
    </div>
  </div>
</section>

<section class="container landing-section">
  <h3>Our thought leaders will guide your team</h3>
  <ul class="row people-list">
    {{#each model.mentors as |mentor|}}
      <li class="col-md-5">
        <div class="avatar">
          <img src="{{mentor.image}}" alt="{{mentor.name}}" />
        </div>
        <h3>{{mentor.name}}</h3>
        <p>
           {{#each mentor.frameworks as |framework|}}
            <span class="framework">{{framework}}</span>
           {{/each}}
        </p>
        <div class="social">
          <a href="https://twitter.com/{{mentor.twitter}}" target="_blank">@{{mentor.twitter}}</a><br>
        </div>
      </li>
    {{/each}}
  </ul>
</section>
