<section class="javascript-intro">
  <div class="container">
    <div class="row">
      <h2 class="col-lg-8">
        {{model.thisEvent.title}}
      </h2>
    </div>
    <div class="row">
      <aside class="col-lg-5">
        {{#if model.isInteractive}}
          <p>
            At JS.Interactive, core team members from frameworks, libraries, and browsers follow the conversations from This.JavaScript and discuss cross collaboration and key learnings in a panel format.
          </p>
          <p>
            JS.Interactive is an open forum for all to ask real-time questions to those leading JavaScript tools.
          </p>
        {{else}}
          <p>
            Keep up with the advancement of prominent open source frameworks, libraries, and browser standards by attending this online event.
          </p>
          <p>
            Core team members will discuss topics such as upcoming releases, recent milestones, and community initiatives.
          </p>
        {{/if}}
        <div class="streaming-notice">
          Streaming will be available on this page the day of the event.
        </div>
      </aside>
      <div class="col-lg-5 push-lg-1">
        <div class="next-event">
          {{moment-format model.thisEvent.date 'MMMM Do YYYY'}} <br>
          {{moment-format model.thisEvent.timezoneDate 'h:mm a zz'}}. Online! <br>
        </div>
        {{event-subscribe
            class="contact-form javascript-register"
            action="//thisdot.us12.list-manage.com/subscribe/post?u=81e8e3fa2a6f79fe97467029a&amp;id=1f86539e1b"
        }}
      </div>
    </div>
  </div>
</section>

<section class="javascript-events">
  <div class="container">
    <ul class="row">
      {{#each model.speakers as |author|}}
        <li class="col-lg-4 col-md-6 speaker-card">
          <strong class="framework-pop {{author.frameworks}}">{{author.frameworks}}</strong>
          <div class="avatar">
            <img src="{{author.image}}" alt="{{author.name}}" />
          </div>
          <h3>{{author.name}}</h3>
        </li>
      {{/each}}
    </ul>
  </div>
</section>
