<section class="javascript-intro">
  <div class="container">
    <div class="row">
      <h2 class="col-lg-8">
        {{model.title}}
      </h2>
    </div>
    <div class="row">
      <p class="col-lg-5">
        {{t 'this.javascript.description'}}
      </p>
      <p class="col-lg-5 push-lg-1">
        {{t 'this.javascript.call-to-action'}}
      </p>
    </div>
    <div class="next-event">
      {{moment-format model.date 'MMMM Do YYYY'}} <br>
      {{moment-format model.timezoneDate 'h:mm a zz'}}. Online! <br>

      {{#if (is-same model.date (moment) precision='day')}}
        <div class="streaming-notice" style="width: 100%">
          <a href="{{model.video}}" class="button straming-button" target="_blank">
            Go to Livestream
          </a>
        </div>
      {{else}}
        <div class="streaming-notice" style="width: 100%">
          {{#link-to "javascript.event" model classNames="button straming-button"}}
            Go to event page
          {{/link-to}}
        </div>
      {{/if}}
    </div>
  </div>
</section>

<section class="javascript-events">
  <div class="container">
    <ul class="row">
      {{event-speakers event=model}}
    </ul>
  </div>
</section>
