<section class="about-intro">
  <h2>
    <span class="this-media">This.Media</span> &amp; <span class="this-labs">This.Labs</span>
  </h2>
</section>

<section class="about-section content-section">
  <h2>About this.media</h2>
  <div class="row">
    <div class="col-md-5">
      <p>
        We are an education and news focused organisation that facilitates the idea of learning through four main principles: Watch, Engage, Listen, and Learn.
      </p>
      <p>
        We bring you a wealth of modern web knowledge through our various brands.
      </p>
    </div>
    <div class="col-md-5 push-md-1">
      <img src="/media/about-media-pic.jpg" alt="" />
    </div>
  </div>

  <h2>About this.labs</h2>
  <div class="row">
    <div class="col-md-5">
      <p>
        We are a framework agnostic agency that believes in enabling teams to become better developers. We are focused on working with companies to build ambitious web applications with modern web techniques and strategies.
      </p>
    </div>
    <div class="col-md-5 push-md-1">
      <p>
        This.Labs is a set of open source contributors that believe in mentoring and building the next generation of developers. With experience across various JavaScript frameworks, we accomplish our mission of teaching by mentoring apprentices and helping large companies scale their teams.
      </p>
    </div>
  </div>
</section>

<section class="content-section">
  <h2>Mentors</h2>
  <ul class="row people-list">
    {{#each model.mentors as |mentor|}}
      <li class="col-md-5">
        <div class="avatar">
          <img src="{{mentor.image}}" alt="{{mentor.name}}" />
        </div>
        <h3>{{mentor.name}}</h3>
        <p>
           {{#each mentor.frameworks as |framework|}}
            <span class="framework">{{framework}}</span>
           {{/each}}
        </p>
        <div class="social">
          <a href="https://twitter.com/{{mentor.twitter}}" target="_blank">@{{mentor.twitter}}</a><br>
        </div>
      </li>
    {{/each}}
  </ul>
</section>

<section class="content-section">
  <h2>Co-Founders</h2>
  <ul class="row people-list">
    <li class="col-md-5">
      <div class="avatar">
        <img src="/media/mentors/taras-mankovski.jpg" alt="Taras" />
      </div>
      <h3>Taras Mankovski</h3>
      <div class="social">
        <a href="https://twitter.com/embersherpa" target="_blank">@EmberSherpa</a><br>
        <a href="mailto:taras@thisdot.co">taras@thisdot.co</a>
      </div>
    </li>
    <li class="col-md-5 push-md-1">
      <h3>Tracy Lee</h3>
      <div class="avatar">
        <img src="/media/mentors/tracy-lee.jpg" alt="Tracy" />
      </div>
      <div class="social">
        <a href="https://twitter.com/ladyleet" target="_blank">@ladyleet</a><br>
        <a href="mailto:tracy@thisdot.co">tracy@thisdot.co</a>
      </div>
    </li>
    <li class="col-md-5">
      <h3>Ben Lesh</h3>
      <div class="avatar">
        <img src="/media/mentors/ben-lesh.png" alt="Ben" />
      </div>
      <div class="social">
        <a href="https://twitter.com/BenLesh" target="_blank">@BenLesh</a><br>
        <a href="mailto:ben@thisdot.co">ben@thisdot.co</a>
      </div>
    </li>
    <li class="col-md-5 push-md-1">
      <h3>Mike Auty</h3>
      <div class="avatar">
        <img src="/media/mentors/mike-auty.jpg" alt="Mike" />
      </div>
      <div class="social">
        <a href="https://twitter.com/mauty" target="_blank">@mauty</a><br>
        <a href="mailto:mike@thisdot.co">mike@thisdot.co</a>
      </div>
    </li>
  </ul>
</section>

<section class="content-section">
  <h2>Founding team</h2>
  <ul class="row people-list">
    <li class="col-md-5">
      <h3>Jorge Lainfiesta</h3>
    </li>
    <li class="col-md-5">
      <h3>Wentao Shu</h3>
    </li>
    <li class="col-md-5">
      <h3>Sarah Rech</h3>
    </li>
  </ul>
</section>

<section class="content-section">
  <div class="col-md-6">
    <h2>We're hiring</h2>
    <p>
      Want to work with us? Whether you have 10 hours to spare or want to do awesome things with us full time, email your info <a href="#">here</a>.
    </p>
  </div>
</section>
