<section class="slider">
  <div class="slide">
      {{#background-video
        classNames="dark-background"
        mp4="media/ben-reative-programming.mp4"
        ogv="media/ben-reative-programming.ogv"
        webm="media/ben-reative-programming.webm"
        poster="media/ben-reative-programming.jpg"
      }}
        <div class="content container">
        {{#let "https://medium.com/@thisdotmedia/this-dot-inc-the-future-of-the-modern-web-946f913da636#.9bd9frdhf" as |link|}}
          <h2>
            <a href="{{link}}" target="_blank">The Future of The Modern Web</a>
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut nunc ut erat porttitor porta nec ac metus.
          </p>
          <p>
            <a href="{{link}}" target="_blank" class="read-more">Read more</a>
          </p>
        {{/let}}
        </div>        
      {{/background-video}}
  </div>
</section>

<section class="subscribe row">
  {{home-subscribe}}
</section>

<section class="content-section">
  <header>
    <h2>Featured Video</h2>
    <p class="subtitle">
      The news resource for modern web technologies
    </p>
  </header>

  <div class="row">
    <div class="col-md">
      {{lazy-video url=model.featured.video}}
    </div>
    <div class="col-md">
      <h3>{{model.featured.title}}</h3>
      {{{model.featured.summary}}}
      <a href="{{model.featured.video}}" class="read-more">Watch on YouTube</a>
    </div>
  </div>

  <div class="row centered-cols">
    <div class="col-md">
      {{#link-to 'media' (query-params show="moderndotweb")}}
        <img src="media/modern-web-logo.svg" alt="Modern.Web Logo">
      {{/link-to}}
      <h4><a href="media#moderndotweb">Modern.Web</a></h4>
      <p>
        Monthly meetup of thought leaders with a focus on JavaScript, browsers and reactive programming.
      </p>
    </div>
    <div class="col-md">
      {{#link-to 'media' (query-params show="the-ember-show")}}
        <img src="media/the-ember-show.svg" alt="The Ember Show Logo">
      {{/link-to}}
      <h4><a href="media#the-ember-show">The Ember Show</a></h4>
      <p>Monthly show about the latest developments in Ember.js community presented by addon and framework creators.</p>
    </div>
    <div class="col-md">
      {{#link-to 'media' (query-params show="thisdotjavascript")}}
       <span class="image-placeholder"></span>
      {{/link-to}}
      <h4>This.Javascript</h4>
      <p>
        Bimonthly gathering of frontend framework creators to share progress and explore collaboration.
      </p>
    </div>
  </div>

</section>
