<section class="slider home-slider">
  <div class="slide">
      {{#background-video
        classNames="dark-background"
        mp4="media/ben-reative-programming.mp4"
        ogv="media/ben-reative-programming.ogv"
        webm="media/ben-reative-programming.webm"
        poster="media/ben-reative-programming.jpg"
      }}
        <div class="content container">
        {{#let "https://medium.com/@thisdotmedia/reactive-programming-is-not-a-trend-why-the-time-to-adopt-is-now-b3954ea44aa3#.hasbvlol1" as |link|}}
          <h2>
            <a href="{{link}}" target="_blank">Reactive Programming is not a Trend</a>
          </h2>
          <p>
            Trends come and go, as do frameworks, but there is one trend that looks like it’s here to stay. That trend is reactive programming.
          </p>
          <p>
            <a href="{{link}}" target="_blank" class="read-more">Read more</a>
          </p>
        {{/let}}
        </div>
      {{/background-video}}
  </div>
</section>

<section class="subscribe container">
  {{home-subscribe}}
</section>

<section class="content-section alt media-content">
  <header>
    <h2 id="thisdotjavascript">THIS.JAVASCRIPT</h2>
  </header>
  <div class="row centered-cols">
    {{#each (sort-by (action 'closerDateFirst') (filter-by 'brand' 'this-dot-js' model.posts)) as |post|}}
      {{#if (is-after post.date (now))}}
        <div class="video-card col-md-4 is-future">
          <h4>
            {{#link-to 'javascript.event' post}}{{post.title}}{{/link-to}}
          </h4>
          {{moment-format post.date 'MMM Do YYYY'}} <br>
          {{#link-to 'javascript.event' post class="button"}}Register{{/link-to}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</section>

<section class="content-section media-content contributors-days-section">
  <header>
    <h2 id="thisdotjavascript">Contributor Days</h2>
  </header>
  <div class="row centered-cols">
    {{#each (sort-by (action 'closerDateFirst') (filter-by 'brand' 'contributors-days' model.posts)) as |post|}}
      {{#if (is-after post.date (now))}}
        {{video-card post=post class="col-md-4 contributor-card-home" actionLabel="Apply"}}
      {{else}}
        {{video-card post=post class="col-md-4 contributor-card-home" actionLabel="Watch"}}
      {{/if}}
    {{/each}}
  </div>
</section>

<section class="content-section alt media-content">
  <header>
    <h2 id="moderndotweb">Modern.Web</h2>
  </header>
  <div class="row centered-cols">
    {{#each (filter-by 'brand' 'modern-web' model.posts) as |post|}}
      {{video-card post=post class="col-md-4"}}
    {{/each}}
  </div>
</section>

<section class="content-section media-content">
  <header>
    <h2 id="the-ember-show">The ember show</h2>
  </header>
  <div class="row centered-cols">
    {{#each (filter-by 'brand' 'the-ember-show' model.posts) as |post|}}
      {{video-card post=post class="col-md-4"}}
    {{/each}}
  </div>
</section>