{{outlet}}

<section class="subscribe container">
  {{home-subscribe
      cta="Don't miss a This.Javascript event!"
      buttonText="Subscribe"
  }}
</section>

<section class="container content-section about-javascript">
  <div class="row">
    <div class="col-lg-5">
      <h2>this.javascript</h2>
      <p>
        {{t 'this.javascript.description'}}
      </p>
      <p>
        {{t 'this.javascript.call-to-action'}}
      </p>
    </div>
    <div class="col-lg-5 push-lg-1">
      <h2>JS.Interactive</h2>
      <p>
        {{t 'this.interactive.description'}}
      </p>
      <p>
        {{t 'this.interactive.call-to-action'}}
      </p>
    </div>
  </div>
  <div class="row">
    <ul class="javascript-topics">
      <li>Recent successes</li>
      <li>Upcoming releases</li>
      <li>Big announcements</li>
      <li>Design decisions</li>
      <li>Considerations</li>
      <li>Intended and unintended uses</li>
      <li>Initiatives to focus on as a community</li>
    </ul>
  </div>
</section>

<div class="javascript-events-list javascript-upcoming">
  <section class="content-section">
    <h2>Upcoming Events</h2>
    <div class="row">
      {{#each model.events as |event|}}
        {{#if (is-after event.date (now))}}
          <div class="video-card col-md-4 is-future">
            {{our-calendar event.date}}
            <h4>
              {{#link-to 'javascript.event' (moment-format event.date 'MM-YYYY')}}{{event.title}}{{/link-to}}
            </h4>
            {{#link-to 'javascript.event' (moment-format event.date 'MM-YYYY') class="button"}}Register{{/link-to}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  </section>
</div>

<section class="javascript-events-list content-section">
  <h2>Previous Events</h2>
  <div class="row">
    {{#each (reverse model.events) as |event|}}
      {{#if (is-before event.date (now))}}
        <div class="video-card col-md-4 is-future">
          {{our-calendar event.date}}
          <h4>
            {{#link-to 'javascript.event' (moment-format event.date 'MM-YYYY')}}{{event.title}}{{/link-to}}
          </h4>
          {{#link-to 'javascript.event' (moment-format event.date 'MM-YYYY') class="button"}}Watch{{/link-to}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</section>
